* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

/* Home */

.home {
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    background-color: white;
    display: flex;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.bar-containt {
    width: 90%;
    display: flex;
    margin: auto;
}

.logo {
    width: calc(100%/3);
}

.logo h1 {
    font-size: 30px;
}

.logo h1::after {
    content: '.';
    color: #ce1212;
}

.logo h1:hover {
    cursor: pointer;
}

.links {
    width: calc(100%/3);
    display: flex;
    justify-content: flex-end;
}

.links ul {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.links a {
    text-decoration: none;
    font-weight: 500;
}

.selected-link a {
    color: black;
}

.not-selected-link a {
    color: gray;
}

.not-selected-link:hover a {
    color: black;
}

.selected-link .line {
    background-color: rgba(206, 0, 0, 1);
    width: 100%;
    height: 3px;
    margin-top: 2px;
}

.not-selected-link .line {
    background-color: rgba(206, 0, 0, 1);
    width: 0;
    height: 3px;
    margin-top: 2px;
    transition: all 0.5s;
}

.not-selected-link:hover .line {
    width: 100%;
}

.dark-mood {
    width: calc(100%/3);
    display: flex;
    justify-content: flex-end;
}

.dark-mood i {
    font-size: 25px;
    align-self: center;
}

.dark-mood i:hover {
    cursor: pointer;
}

.home-containt {
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;

}

.home-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.home-text h3 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 65px;
    color: #37373f;
}

.home-text p {
    color: gray;
    margin: 20px 0;
}

.btn-container {
    display: flex;
    align-items: center;
}

.home-text .btn1 {
    border: none;
    background-color: #ce1212;
    color: white;
    padding: 15px 50px;
    border-radius: 0 30px 30px 30px;
}

.home-text .btn1:hover {
    background-color: red;
    cursor: pointer;
}

.home-text .btn2 {
    display: flex;
    width: 200px;
    height: 60px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.half-circle {
    background-color: red;
    display: inline-block;
    padding: 5px;
    width: 25px;
    height: 85%;
    border-radius: 30px 0 0 30px;
}

.icon-container {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -18;
}

.btn2:hover {
    cursor: pointer;
}

.icon-container i {
    font-size: 20px;
}

.btn2:hover i {
    color: red;
}

.btn2 p {
    color: black;
}

.btn2:hover p {
    color: red;
}

.home-img {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 90%;
    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.6));
    transform: rotate(0);
    position: relative;
    top: 0;
    left: 0;
}

.home-img img:hover {
    animation: moveimg 0.3s infinite;
}

@keyframes moveimg {
    0% {
        transform: rotate(0);
        top: 0;
        left: 0;
    }

    10% {
        transform: rotate(0.5deg);
        top: 0;
        left: 0;
    }

    20% {
        transform: rotate(1deg);
        top: 1;
        left: 1;
    }

    30% {
        transform: rotate(1.5deg);
        top: 1;
        left: 1;
    }

    40% {
        transform: rotate(2deg);
        top: 0;
        left: 0;
    }

    50% {
        transform: rotate(2.5deg);
        top: 0;
        left: 0;
    }

    60% {
        transform: rotate(2deg);
        top: 1;
        left: 1;
    }

    70% {
        transform: rotate(1.5deg);
        top: 1;
        left: 1;
    }

    80% {
        transform: rotate(1deg);
        top: 0;
        left: 0;
    }

    90% {
        transform: rotate(0.5deg);
        top: 0;
        left: 0;
    }

    100% {
        transform: rotate(0);
        top: 0;
        left: 0;
    }
}

/* Our Proffesional Chefs */

.Proffesional-Chefs {
    padding: 50px 0;
    text-align: center;
}

.Proffesional-Chefs p {
    color: gray;
    margin: 5px 0;
}

.Proffesional-Chefs h4,
span {
    font-family: 'Amatic SC', sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}

.Proffesional-Chefs span {
    color: #ce1212;
}

.chefs-container {
    width: 90%;
    margin: auto;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.chef {
    width: 30%;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
}

.chef img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.chef-discription {
    padding: 20px;
}

.chef:hover {
    transform: scale(1.07);
}

.chef-social-media {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 30;
    right: -100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    transition: all 1s;
}

.chef-social-media i {
    margin: 10px 5px;
    color: gray;
}

.chef:hover .chef-social-media {
    right: 10;
}

.chef-social-media i:hover {
    color: rgba(0, 0, 0, 0.721);
    cursor: pointer;
}

.waves {
    position: absolute;
    bottom: 150;
    width: 100%;
}

/*  Our Gallery */

.gallery {
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px 0;
}

.gallery h5 {
    color: gray;
    font-weight: 100;
}

.gallery h4,
span {
    font-family: 'Amatic SC', sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}

.gallery span {
    color: #ce1212;
}

.gallery-container {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.album {
    width: 30%;
}

.gallery-layer {
    position: relative;
    margin-bottom: 30px;
    border: 5px solid white;
    overflow: hidden;
}

.album img {
    width: 100%;
    transition: all 0.5s;
}


.layer {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    transition: all 0.5s;
}

.layer h2,
p {
    color: white;
}

.gallery-layer:hover img {
    transform: scale(1.1);
}

.gallery-layer:hover .layer {
    top: 0;
}

/* Contact Us */

.contact-us {
    padding: 50px 0;
    text-align: center;
}

.contact-us p {
    color: gray;
}

.contact-us h4,
span {
    font-family: 'Amatic SC', sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
}

.contact-us span {
    color: #ce1212;
}


.map {
    width: 90%;
    margin: auto;
}

.map iframe {
    width: 100%;
}

.contact-info {
    padding: 50px 0;
    margin-top: 20px;
}

.info-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.info-item {
    background-color: #f4f4f4;
    width: 49%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-icon {
    background-color: #ce1212;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-icon i {
    color: white;
    font-size: 20px;
}

.info-details {
    padding: 10px 0;
    text-align: left;
    margin-left: 20px;
}

.info-details h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: gray;
}

.info-details p {
    color: black;
}

.input-container {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: auto;
    padding: 20px;
}

.input-item {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    padding: 15px 10px;
    margin-bottom: 10px;
    border: 2px solid rgba(128, 128, 128, 0.39);
}

input[type=text] {
    width: 49%;
}

input[type=email] {
    width: 50%;
}

#sub {
    width: 100%;
}

textarea {
    width: 100%;
    border: 2px solid rgba(128, 128, 128, 0.39);
    padding: 15px 10px;
}

.button-container {
    margin-top: 20px;
    width: 100%;
}

.button-container button {
    padding: 15px 50px;
    border-radius: 30px;
    background-color: #ce1212;
    border: none;
    color: white;
}

.button-container button:hover {
    background-color: red;
    cursor: pointer;
}

/* footer */

.footer {
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.6), hsla(0, 0%, 0%, 0.6)), url(../img/textured-metal-background.jpg);
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.419);
    background-size: 50% 100%;
    padding: 30px 0;
    position: relative;
}

.footer-containt {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.footer-media {
    width: 25%;
    padding: 10px;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo h2 {
    margin-left: 10px;
    color: white;
    font-size: 30px;
}

.footer-logo h2::after {
    content: ".";
    color: #ce1212;
}

.footer-media img {
    width: 10%;
    border-radius: 50%;
}

.footer-media p {
    margin: 10px 0;
}

.footer-media h3 {
    color: white;
    font-size: 25px;
    text-align: center;
}

.footer-media hr {
    margin: 10px 0;
    border: 1px solid gray;
}

.footer-media-icon {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.footer-media-icon i {
    color: white;
    font-size: 25px;
}

.footer-media-icon i:hover {
    cursor: pointer;
}

.footer-Subscribe {
    width: 45%;
    padding: 10px;
}

.footer-Subscribe h3 {
    color: white;
}

.footer-Subscribe p {
    color: white;
    margin: 10px 0;
}

.footer-Subscribe input {
    width: 75%;
    padding: 10px;
}

.footer-Subscribe button {
    padding: 12px 25px;
    background-color: #ce1212;
    color: white;
    border: none;
}

.footer-Subscribe button i {
    margin-right: 5px;
}

.footer-Subscribe button:hover {
    cursor: pointer;
    background-color: red;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
}

.footer-links ul {
    list-style: none;
    width: 48%;
}

.footer-links li {
    padding: 5px 0;
    margin-top: 5px;
    transition: all 0.5s;
}

.footer-links li:hover {
    transform: translateX(5px);
    background-color: rgba(128, 128, 128, 0.5);
}

.footer-links a {
    text-decoration: none;
    color: white;
}

.footer-contact {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.footer-contact h3 {
    color: white;
}

.footer-contact a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.footer-contact i {
    color: #ce1212;
    font-size: 25px;
    margin-right: 10px;
}


/********** Dark mood section **********/

input[type=checkbox] {
    position: fixed;
    top: 35px;
    right: 100px;
    z-index: 999999;
    display: none;
}

label {
    position: fixed;
    width: fit-content;
    border-radius: 5px;
    z-index: 99999;
    top: 20px;
    right: 100px;
}

label:hover{
    cursor: pointer;
}

label i {
    font-size: 35px;
    color: black;
}

label .setting {
    display: none;
}

input[type=checkbox]:checked~label .moon {
    display: none;
}

input[type=checkbox]:checked~label .setting {
    display: inline-block;
    color: white;
}

/* Home dark mood */

input[type=checkbox]:checked~div.home {
    background-color: #252525;
}

input[type=checkbox]:checked~div.home div.navbar {
    background-color: #171717;
}

input[type=checkbox]:checked~div.home div.navbar div.line {
    background-color: #c17e1f;
}

input[type=checkbox]:checked~div.home div.navbar h1 {
    color: white;
}

input[type=checkbox]:checked~div.home div.navbar h1::after {
    color: #c17e1f;
}

input[type=checkbox]:checked~div.home div.navbar a {
    color: white;
}

input[type=checkbox]:checked~div.home h3 {
    color: white;
}

input[type=checkbox]:checked~div.home .btn1 {
    background-color: #c17e1f;
    color: black;
}

input[type=checkbox]:checked~div.home div.icon-container {
    background-color: #000;
}

input[type=checkbox]:checked~div.home i {
    color: white;
}

input[type=checkbox]:checked~div.home div.half-circle {
    background-color: #c17e1f;
}

input[type=checkbox]:checked~div.home div.btn-container p {
    color: white;
}

input[type=checkbox]:checked~div.home div.btn-container button:hover {
    background-color: #da8b1d;
}

input[type=checkbox]:checked~div.home div.btn-container div.btn2:hover p {
    color: #c17e1f;
}

input[type=checkbox]:checked~div.home div.btn-container div.btn2:hover i {
    color: #c17e1f;
}

/* Proffesional Chefs dark mood */

input[type=checkbox]:checked~div.Proffesional-Chefs {
    background-color: #202020;
    color: white;
}

input[type=checkbox]:checked~div.Proffesional-Chefs div.waves {
    content: url(../img/wave-dark.png);
}

input[type=checkbox]:checked~div span {
    color: #c17e1f;
}

input[type=checkbox]:checked~div.Proffesional-Chefs div.chef {
    background-color: #171717;
    color: white;
}

/* Our Gallery */

input[type=checkbox]:checked~div.gallery {
    background-color: #252525;
    color: white;
}

/* Contact Us */

input[type=checkbox]:checked~div.contact-us {
    background-color: #202020;
    color: white;
}

input[type=checkbox]:checked~div.contact-us div.info-item {
    background-color: #0d0d0d;
}

input[type=checkbox]:checked~div.contact-us div.info-item p {
    color: white;
}

input[type=checkbox]:checked~div.contact-us div.info-item div.info-icon {
    background-color: #c17e1f;
}

input[type=checkbox]:checked~div.contact-us div.info-item i {
    color: black;
}

input[type=checkbox]:checked~div.contact-us div.input-container {
    background-color: #171717;
}

input[type=checkbox]:checked~div.contact-us button {
    background-color: #c17e1f;
    color: black;
}

input[type=checkbox]:checked~div.contact-us button:hover {
    background-color: #da8b1d;
}

/* Footer dark mood */

input[type=checkbox]:checked~div.footer button {
    background-color: #c17e1f;
    color: #171717;
}

input[type=checkbox]:checked~div.footer button:hover {
    background-color: #da8b1d;
}

input[type=checkbox]:checked~div.footer div.footer-contact i {
    color: #c17e1f;
}